<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <p> Welcome {{title}} sadsad</p>
    <app-bca [item]="currentItem"></app-bca>
    <app-employee-detail></app-employee-detail>
    <app-employee-list></app-employee-list>
    <app-property-binding></app-property-binding>
    <app-class-binding></app-class-binding>
    <!--<div class="app-bca"></div>-->
    <!--<app-bca></app-bca>-->  
    <!-- @input flows data from parents to child-->
    <!-- @output flows data from child to parent-->
    <app-test (childEvent)="message=$event" [parentData]="name"> </app-test>
    {{message}}
    <app-pipes></app-pipes>
  </body>
</html>